[submodule "bcaller/deps/HighFive"]
	path = bcaller/deps/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "bcaller/deps/vcflib"]
	path = bcaller/deps/vcflib
	url = https://docs.gitlab.com/ee/university/training/topics/unstage.html
